# Dados MovieLens 1M
---

## Contexto
O GroupLens Research (http://grouplens.org/datasets/movielens) fornce várias coleções de dados de avaliações de filmes 
obtidos de usuários do MovieLens no fim dos anos 1990 e início dos anos 2000. Os dados contêm avaliações de filmes, 
metadados (gêneros e ano) e informações demográficas sobre os usuários (idade, código postal, identificação de gênero 
e profissão).

O conjunto de dados MovieLens 1M contém um milhão de avaliações coletadas de 6 mil usuários sobre 4 mil filmes.

**Índice**
1. [Importações e Personalização](#importações-e-personalização)
2. [Carregando os dados](#carregando-os-dados)
3. [Avaliações médias de um filme específico por identidade de gênero e idade](#avaliações-médias-de-um-filme-específico-por-identidade-de-gênero-e-idade)
4. [Medição de discrepância nas avaliações](#medição-de-discrepância-nas-avaliações)

## Importações e Personalização 
---

In [111]:
# Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Personalização
%matplotlib inline
np.random.seed(123)
plt.rc("figure", figsize=(8, 6))
plt.rcParams['figure.dpi'] = 300
np.set_printoptions(precision=4)
pd.options.display.max_columns = 20
pd.options.display.max_rows = 20
pd.options.display.max_colwidth = 80

## Carregando os dados
---

Os três arquivos têm extensão `.dat`, não possuem cabeçalho e os valores são separados por `::`. Podemos  carregar cada 
tabela em um objeto DataFrame usando `pd.read_table`, especificando o delimitador com o parâmetro `sep` e definindo novos
nomes para as colunas.

In [112]:
# "users.dat"
unames = ["user_id", "gender", "age", "occupation", "zip"]
users = pd.read_table("./users.dat", sep="::", header=None, names=unames, engine="python")
users.info()
users.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     6040 non-null   int64
 1   gender      6040 non-null   object
 2   age         6040 non-null   int64
 3   occupation  6040 non-null   int64
 4   zip         6040 non-null   object
dtypes: int64(3), object(2)
memory usage: 236.1+ KB

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455
5        6      F   50           9  55117
6        7      M   35           1  06810
7        8      M   25          12  11413
8        9      M   25          17  61614
9       10      F   35           1  95370

In [113]:
# "ratings.dat"
rnames = ["user_id", "movie_id", "ratings", "timestamp"]
ratings = pd.read_table("./ratings.dat", sep="::", header=None, names=rnames, engine="python")
ratings.info()
ratings.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   user_id    1000209 non-null  int64
 1   movie_id   1000209 non-null  int64
 2   ratings    1000209 non-null  int64
 3   timestamp  1000209 non-null  int64
dtypes: int64(4)
memory usage: 30.5 MB

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109
2        1       914        3  978301968
3        1      3408        4  978300275
4        1      2355        5  978824291
5        1      1197        3  978302268
6        1      1287        5  978302039
7        1      2804        5  978300719
8        1       594        4  978302268
9        1       919        4  978301368

In [114]:
# "movies.dat"
mnames = ["movie_id", "title", "genres"]
movies = pd.read_table("./movies.dat", sep="::", header=None, names=mnames, engine="python")
movies.info()
movies.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  3883 non-null   int64
 1   title     3883 non-null   object
 2   genres    3883 non-null   object
dtypes: int64(1), object(2)
memory usage: 91.1+ KB

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

## Avaliações médias de um filme específico por identidade de gênero e idade
---

Utilizando a função `merge`, mesclaremos `ratings` com `users` e depois mesclaremos o resultado com os dados de `movies`.
Em seguida, calculmos a médias de cada filme agrupudas por identididade de gênero.

In [115]:
data = pd.merge(pd.merge(ratings, users), movies)
data

,user_id,movie_id,ratings,timestamp,gender,age,occupation,zip,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,1,661,3,978302109,F,1,10,48067,James and the Giant Peach (1996),Animation|Children's|Musical
2,1,914,3,978301968,F,1,10,48067,My Fair Lady (1964),Musical|Romance
3,1,3408,4,978300275,F,1,10,48067,Erin Brockovich (2000),Drama
4,1,2355,5,978824291,F,1,10,48067,"Bug's Life, A (1998)",Animation|Children's|Comedy
...,...,...,...,...,...,...,...,...,...,...
1000204,6040,1091,1,956716541,M,25,6,11106,Weekend at Bernie's (1989),Comedy
1000205,6040,1094,5,956704887,M,25,6,11106,"Crying Game, The (1992)",Drama|Romance|War
1000206,6040,562,5,956704746,M,25,6,11106,Welcome to the Dollhouse (1995),Comedy|Drama
1000207,6040,1096,4,956715648,M,25,6,11106,Sophie's Choice (1982),Drama
1000208,6040,1097,4,956715569,M,25,6,11106,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi

In [116]:
mean_ratings = data.pivot_table("ratings", index="title", columns="gender", aggfunc= "mean")
mean_ratings

gender                                             F         M
title
$1,000,000 Duck (1971)                      3.375000  2.761905
'Night Mother (1986)                        3.388889  3.352941
'Til There Was You (1997)                   2.675676  2.733333
'burbs, The (1989)                          2.793478  2.962085
...And Justice for All (1979)               3.828571  3.689024
...                                              ...       ...
Zed & Two Noughts, A (1985)                 3.500000  3.380952
Zero Effect (1998)                          3.864407  3.723140
Zero Kelvin (Kjærlighetens kjøtere) (1995)       NaN  3.500000
Zeus and Roxanne (1997)                     2.777778  2.357143
eXistenZ (1999)                             3.098592  3.289086

[3706 rows x 2 columns]

Filmes com pelo menos 250 avaliações, agrupando os dados por títulos e obtendo os tamanhos dos grupos

In [117]:
ratings_by_title = data.groupby("title").size()
ratings_by_title

title
$1,000,000 Duck (1971)                         37
'Night Mother (1986)                           70
'Til There Was You (1997)                      52
'burbs, The (1989)                            303
...And Justice for All (1979)                 199
                                             ...
Zed & Two Noughts, A (1985)                    29
Zero Effect (1998)                            301
Zero Kelvin (Kjærlighetens kjøtere) (1995)      2
Zeus and Roxanne (1997)                        23
eXistenZ (1999)                               410
Length: 3706, dtype: int64

In [118]:
active_titles = ratings_by_title.index[ratings_by_title >= 250]
active_titles

Index([''burbs, The (1989)', '10 Things I Hate About You (1999)',
       '101 Dalmatians (1961)', '101 Dalmatians (1996)', '12 Angry Men (1957)',
       '13th Warrior, The (1999)', '2 Days in the Valley (1996)',
       '20,000 Leagues Under the Sea (1954)', '2001: A Space Odyssey (1968)',
       '2010 (1984)',
       ...
       'X-Men (2000)', 'Year of Living Dangerously (1982)',
       'Yellow Submarine (1968)', 'You've Got Mail (1998)',
       'Young Frankenstein (1974)', 'Young Guns (1988)',
       'Young Guns II (1990)', 'Young Sherlock Holmes (1985)',
       'Zero Effect (1998)', 'eXistenZ (1999)'],
      dtype='object', name='title', length=1216)

In [119]:
mean_ratings = mean_ratings.loc[active_titles]
mean_ratings

gender                                    F         M
title
'burbs, The (1989)                 2.793478  2.962085
10 Things I Hate About You (1999)  3.646552  3.311966
101 Dalmatians (1961)              3.791444  3.500000
101 Dalmatians (1996)              3.240000  2.911215
12 Angry Men (1957)                4.184397  4.328421
...                                     ...       ...
Young Guns (1988)                  3.371795  3.425620
Young Guns II (1990)               2.934783  2.904025
Young Sherlock Holmes (1985)       3.514706  3.363344
Zero Effect (1998)                 3.864407  3.723140
eXistenZ (1999)                    3.098592  3.289086

[1216 rows x 2 columns]

Filmes prediletos por gênero, podemos colocar a lista em ordem decrescente de acordo com o valor da coluna

In [120]:
# M
top_man_ratings = mean_ratings.sort_values("M", ascending=False)
top_man_ratings.head(5)

gender,F,M
title,,
"Godfather, The (1972)",4.314700,4.583333
Seven Samurai (The Magnificent Seven) (Shichinin no samurai) (1954),4.481132,4.576628
"Shawshank Redemption, The (1994)",4.539075,4.560625
Raiders of the Lost Ark (1981),4.332168,4.520597
"Usual Suspects, The (1995)",4.513317,4.518248

In [121]:
# F
top_man_ratings = mean_ratings.sort_values("F", ascending=False)
top_man_ratings.head(5)

gender                                                         F         M
title
Close Shave, A (1995)                                   4.644444  4.473795
Wrong Trousers, The (1993)                              4.588235  4.478261
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)           4.572650  4.464589
Wallace & Gromit: The Best of Aardman Animation (1996)  4.563107  4.385075
Schindler's List (1993)                                 4.562602  4.491415

## Medição de discrepância nas avaliações
---

Filmes que causam mais divisão entre espectadores masculinos e femininos

In [122]:
# Diferença entre as médias
mean_ratings["diff"] = mean_ratings["M"] - mean_ratings["F"]

# Ordenando 
sorted_diff = mean_ratings.sort_values("diff", ascending=False)
sorted_diff[::1].head(10)

gender                                         F         M      diff
title
Good, The Bad and The Ugly, The (1966)  3.494949  4.221300  0.726351
Kentucky Fried Movie, The (1977)        2.878788  3.555147  0.676359
Dumb & Dumber (1994)                    2.697987  3.336595  0.638608
Longest Day, The (1962)                 3.411765  4.031447  0.619682
Cable Guy, The (1996)                   2.250000  2.863787  0.613787
Evil Dead II (Dead By Dawn) (1987)      3.297297  3.909283  0.611985
Hidden, The (1987)                      3.137931  3.745098  0.607167
Rocky III (1982)                        2.361702  2.943503  0.581801
Caddyshack (1980)                       3.396135  3.969737  0.573602
For a Few Dollars More (1965)           3.409091  3.953795  0.544704

Filmes que geraram maior discrepância entre os espectadores, independente de identificação de gênero.

In [123]:
# Desvio padrão das avaliações por títulos
rating_std_by_title = data.groupby("title")["ratings"].std()
rating_std_by_title = rating_std_by_title.loc[active_titles]

# Ordenando
rating_std_by_title.sort_values(ascending=False)[:10]

title
Dumb & Dumber (1994)                     1.321333
Blair Witch Project, The (1999)          1.316368
Natural Born Killers (1994)              1.307198
Tank Girl (1995)                         1.277695
Rocky Horror Picture Show, The (1975)    1.260177
Eyes Wide Shut (1999)                    1.259624
Evita (1996)                             1.253631
Billy Madison (1995)                     1.249970
Fear and Loathing in Las Vegas (1998)    1.246408
Bicentennial Man (1999)                  1.245533
Name: ratings, dtype: float64

Os gêneros dos filmes estão especificados em uma string separada com pipes (|), já que o mesmo filme pode pertencer a vários
gêneros.

In [124]:
movies["genres"].head()

0     Animation|Children's|Comedy
1    Adventure|Children's|Fantasy
2                  Comedy|Romance
3                    Comedy|Drama
4                          Comedy
Name: genres, dtype: object

In [125]:
movies["genres"] = movies.pop("genres").str.split("|")
movies

,movie_id,title,genres
0,1,Toy Story (1995),"[Animation, Children's, Comedy]"
1,2,Jumanji (1995),"[Adventure, Children's, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama]"
4,5,Father of the Bride Part II (1995),[Comedy]
...,...,...,...
3878,3948,Meet the Parents (2000),[Comedy]
3879,3949,Requiem for a Dream (2000),[Drama]
3880,3950,Tigerland (2000),[Drama]
3881,3951,Two Family House (2000),[Drama]
3882,3952,"Contender, The (2000)","[Drama, Thriller]"

In [126]:
movies_exploded = movies.explode("genres")
movies_exploded.head(10)

   movie_id                     title      genres
0         1          Toy Story (1995)   Animation
0         1          Toy Story (1995)  Children's
0         1          Toy Story (1995)      Comedy
1         2            Jumanji (1995)   Adventure
1         2            Jumanji (1995)  Children's
1         2            Jumanji (1995)     Fantasy
2         3   Grumpier Old Men (1995)      Comedy
2         3   Grumpier Old Men (1995)     Romance
3         4  Waiting to Exhale (1995)      Comedy
3         4  Waiting to Exhale (1995)       Drama

In [127]:
# Mesclando todas as tabelas, fazendo agrupamento por gênero
ratings_with_genre = pd.merge(pd.merge(movies_exploded, ratings), users)
ratings_with_genre.iloc[0]

movie_id                     1
title         Toy Story (1995)
genres               Animation
user_id                      1
ratings                      5
timestamp            978824268
gender                       F
age                          1
occupation                  10
zip                      48067
Name: 0, dtype: object

In [128]:
genre_ratings = (ratings_with_genre.groupby(["genres", "age"])["ratings"].mean().unstack("age"))
genre_ratings

age,1,18,25,35,45,50,56
genres,,,,,,,
Action,3.506385,3.447097,3.453358,3.538107,3.528543,3.611333,3.610709
Adventure,3.449975,3.408525,3.443163,3.515291,3.528963,3.628163,3.649064
Animation,3.476113,3.624014,3.701228,3.740545,3.734856,3.780020,3.756233
Children's,3.241642,3.294257,3.426873,3.518423,3.527593,3.556555,3.621822
Comedy,3.497491,3.460417,3.490385,3.561984,3.591789,3.646868,3.650949
Crime,3.710170,3.668054,3.680321,3.733736,3.750661,3.810688,3.832549
Documentary,3.730769,3.865865,3.946690,3.953747,3.966521,3.908108,3.961538
Drama,3.794735,3.721930,3.726428,3.782512,3.784356,3.878415,3.933465
Fantasy,3.317647,3.353778,3.452484,3.482301,3.532468,3.581570,3.532700
Film-Noir,4.145455,3.997368,4.058725,4.064910,4.105376,4.175401,4.125932
Horror,3.254184,3.172682,3.200096,3.276022,3.262274,3.158940,3.254401
Musical,3.568306,3.560291,3.619857,3.721587,3.744484,3.798254,3.886713
Mystery,3.631522,3.525387,3.610818,3.697396,3.754350,3.885795,3.890545
Romance,3.621284,3.534300,3.546730,3.651142,3.685990,3.758111,3.816531
Sci-Fi,3.478698,3.426067,3.443822,3.502119,3.482515,3.564456,3.497746
Thriller,3.550373,3.494634,3.535471,3.615934,3.639657,3.709668,3.719749
War,3.895437,3.853136,3.841240,3.901130,3.960554,3.974184,4.067285
Western,3.576119,3.471533,3.607826,3.679278,3.667135,3.741322,3.792198